/*
 * The syntax light mode typography colors
 */

@mixin light-scheme {
  /* Framework color */
  --main-bg: #efefefff;

  --mask-bg: var(--main-bg);
  --main-border-color: #87538dff;
  // --main-border-color: #404040;

  /* Common color */
  --text-color: #2b1d38;
  --text-muted-color: #444674ff;
  --heading-color: #d6567f;
  --label-color: #d6567f;
  --blockquote-border-color: #d6567f;
  --blockquote-text-color: #444674ff;
  --link-color: #87538dff;
  --link-underline-color: #444674ff;
  --button-bg: var(--text-color);
  --btn-border-color: var(--main-border-color);
  --btn-backtotop-color: var(--main-bg);
  --btn-backtotop-border-color: var(--btn-border-color);
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: var(--main-bg);
  --checkbox-color: rgb(118, 120, 121);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(64, 255, 0) 0%, rgb(189, 177, 90) 100%);
  --shimmer-bg:#2b1d38ff;

  /* Sidebar */
  --site-title-color: #87538d;
  --site-subtitle-color: #87538d;
  // --sidebar-bg: radial-gradient(circle, #242424 0%, #5A6868 100%);
  --sidebar-bg: var(--main-bg);
  --sidebar-muted-color: #444674ff;
  --sidebar-active-color: #87538d;
  --sidebar-hover-bg: rgb(194, 194, 194);
  --sidebar-btn-bg: var(--main-bg);
  --sidebar-btn-color: #444674ff;
  --avatar-border-color: #87538dff;

  /* Topbar */
  --topbar-bg: var(--main-bg);
  // --topbar-bg: #404040;
  --topbar-text-color: #87538d;
  --search-wrapper-border-color: #87538d;
  --search-icon-color: #87538d;
  --input-focus-border-color: #87538d;

  /* Home page */
  --post-list-text-color: var(--text-color);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: rgb(64, 65, 66);
  --btn-paginator-border-color: var(--btn-border-color);
  --btn-text-color: var(--text-color);

  /* Posts */
  --toc-highlight: #87538d;
  --tag-hover: #87538d;
  --tb-odd-bg: rgba(121, 121, 121, 0.52); /* odd rows of the posts' table */
  --tb-even-bg: #87538d; /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(255, 191, 0);
  --btn-share-color: #444674ff;
  --btn-share-hover-color: #87538d;
  --card-bg: var(--main-bg);
  --card-hovor-bg: rgb(194, 194, 194);
  --card-shadow: rgba(21, 21, 21, 0.119) 0 6px 18px 0,
    rgba(137, 135, 135, 0.687) 0 0 0 1px;
  --kbd-wrap-color: #6a6a6a;
  --kbd-text-color: #444674ff;
  --kbd-bg-color: #242424;
  --prompt-text-color: #444674ff;
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;

  /* tags */
  --tag-border: #87538d;
  --tag-shadow: var(--card-shadow);
  --search-tag-bg: #87538d;
  --dash-color: rgb(63, 65, 68);

  /* categories */
  --categories-border: rgb(64, 66, 69, 0.5);
  --categories-hover-bg: rgb(73, 75, 76);
  --categories-icon-hover-color: white;

  /* archives */
  --timeline-node-bg: rgb(194, 194, 194);
  --timeline-color: #87538d;
  --timeline-year-dot-color: var(--timeline-color);

  .light {
    display: none;
  }

  hr {
    border-color: var(--main-border-color);
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(26, 26, 30),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(26, 26, 30)
    );
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */
